{% extends "base.html" %}

{% block head %}
<style>
    .graph-container {
        max-width: 900px;
        margin: 40px auto;
        text-align: center;
    }
    .graph-box {
        margin-bottom: 50px;
    }
</style>
{% endblock %}

{% block body %}
<div class="graph-container">
    <!-- 攻撃関連グラフ -->
    <div class="graph-box">
        <h2 class="mb-4">攻撃関連の推移</h2>
        <img src="/plot_attack.png" class="img-fluid" alt="攻撃関連グラフ">
    </div>

    <!-- サーブ関連グラフ -->
    <div class="graph-box">
        <h2 class="mb-4">サーブ関連の推移</h2>
        <img src="/plot_serve.png" class="img-fluid" alt="サーブ関連グラフ">
    </div>
    <div>
        <a href="/index" role="button">トップページへ</a>
    </div>    
</div>
{% endblock %}

