{% extends 'base.html' %}

{% block body %}
<h2>編集</h2>
<div class="form">
    <form action="/update/{{ post.id }}" method="POST">

        <div>
            <label for="day">試合日</label><br>
            <input type="date" name="day" value="{{ post.day.date() }}" required>
        </div>

        <div>
            <label for="match_name">対戦相手</label><br>
            <input type="text" name="match_name" value="{{ post.match_name }}" required>
        </div>

        <div>
            <label for="all_attack">総スパイク数</label><br>
            <input type="number" name="all_attack" value="{{ post.all_attack }}" required>
        </div>

        <div>
            <label for="score_attack">スパイク決定数</label><br>
            <input type="number" name="score_attack" value="{{ post.score_attack }}" required>
        </div>

        <div>
            <label for="miss_attack">スパイクミス数</label><br>
            <input type="number" name="miss_attack" value="{{ post.miss_attack }}" required>
        </div>

        <div>
            <label for="block_attack">被ブロック数</label><br>
            <input type="number" name="block_attack" value="{{ post.block_attack }}" required>
        </div>

        <div>
            <label for="all_serve">総サーブ数</label><br>
            <input type="number" name="all_serve" value="{{ post.all_serve }}" required>
        </div>

        <div>
            <label for="score_serve">サーブ決定数</label><br>
            <input type="number" name="score_serve" value="{{ post.score_serve }}" required>
        </div>

        <div>
            <label for="miss_serve">サーブミス数</label><br>
            <input type="number" name="miss_serve" value="{{ post.miss_serve }}" required>
        </div>

        <div>
            <label for="reflect">反省</label><br>
            <textarea name="reflect" rows="5" cols="50" required>{{ post.reflect }}</textarea>
        </div>

        <div>
            <input type="submit" value="変更する">
        </div>

    </form>
</div>

{% endblock %}